:root {
    --main-letter: 'Quicksand', sans-serif;
    --korean-letter: 'Single Day', cursive;
}

*, *::before, *::after {
box-sizing: border-box; }
  
html, body {
width: auto !important;
overflow-x: hidden !important;
-ms-overflow-style: none;
/* IE */
scrollbar-width: none;
/* Firefox */ }
html::-webkit-scrollbar, body::-webkit-scrollbar {
display: none;
/* Chrome */ }

      body::before {
        content: "";
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        opacity: 0.15; 
    }

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* GENERALES */
/* header */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 10px 1px #999999;
    width: 100%;
    height: 15vh;
}

.home__img {
    width: 13vh;
    margin-left: 50px;
}

.home__ul {
    display: flex;
    list-style: none;
}

.home__li {
    padding-right: 50px;
}

.home__li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 2.5vh;
}



/* letras y fuentes */

.title {
    font-family: var(--main-letter);
    color: rgb(0, 68, 133);
}

.text, .home__li a {
    font-family: var(--main-letter);
}

/* footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgb(0, 68, 133);
    color: rgb(210, 210, 210);
    margin-top: auto;
    position: relative;
    z-index: 20;
}


.footer__korean {
    font-weight: bold;
}

.footer__korean, .footer__mail {
    font-size: 1.5vw;
}

.footer__img {
    width: 2.5vw;
}


/* Index */

.learn__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.learn {
    display: grid; 
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 8vw 9vw 10vw;
    justify-content: center;
    align-items: center;
}

.learn__title {
    font-size: 3vw;
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
    z-index: 20;
    margin-bottom: 0;
}

.learn__img--second {
    width: 40vw;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
    top: -120px;
}

.learn__text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    font-size: 1.4vw;
    position: relative;
    z-index: 20;
    margin-left: 10vw;
}

.info {
    width: 40vw;
    height: 50vh;
    background-color: rgb(237, 209, 110);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.info__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.5vw;
    justify-content: center;
    align-items: center;
}

.info__input {
    width: 15vw;
    height: 6vh;
    font-size: 1vw;
    border-radius: 5px;
    border: none;
}

.info__title {
    font-size: 2vw;
    color: #fff;
    text-align: center;
    margin-top: 0;
}

.info__content {
    position: fixed;
    top: 18vh;
    right: 0;
    width: 40vw;
    overflow: hidden;
    height: 80vh;
}

.info__img {
    width: 40vw;
    transform: rotate(140deg);
    position: relative;
    left: 10em;
    top: 5px;
}

.button {
    background-color: rgb(196, 26, 45);
    color: rgb(210, 210, 210);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
}




/* US */

/* Primera sección */

.know__main, .curses {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.know {
    margin: 1vh 7vw;
}


.know__title, .curses__title, .material__title {
    color: #D1D1D1;
    font-size: 4vw;
    margin: 4vh 0 10vh 0;
}

.know__span, .curses__span, .material__span {
    color: rgb(196, 26, 45);
    font-family: var(--korean-letter);
    font-weight: 600;
}

.know__us {
    display: grid;
    grid-template-rows: 20vw;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}

.know__img, .know__img--two {
    justify-self: center;
}

.know__img {
    width: 40vw;
    position: relative;
    z-index: 10;
}

.know__title--us {
    font-size: 3vw;
}

.know__text, .know__li {
    font-size: 1.5vw;
}

.know__us--mobile {
    display: none;
}

.team, .team__gugo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__title {
    font-size: 5vh;
    text-align: center;
}

.team__img {
    width: 20vh;
}

.team__us {
    margin: 2vw;
}

.team__gugo {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.team__us--title {
    font-size: 3vh;
}

.team__us--text {
    font-size: 2em;
    width: 200px;
    text-align: center;
    align-self: center;
    margin: auto;
}




/* CURSOS */

.curses__content--title {
    text-align: center;
    color: rgb(0, 68, 133);
    font-size: 30px;
}

.curses__content--text {
    text-align: center;
    position: relative;
    z-index: 50;
}

.curses__how {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 90px);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    margin: 50px 55px;
    justify-content: center;
}

.curses__content {
    background-color: rgb(0, 68, 133);
    display: grid;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    position: relative;
}

.curses__how--text {
    margin-left: 80px;
    color: rgb(210, 210, 210);
}

.curses__img {
    width: 50px;
    position: absolute;
    margin: 20px;
}

.small {
    margin: 12px 20px;
    position: absolute;
}

.curses__text, .curses__content--text {
    text-align: center;
    width: 800px;
    margin: 60px auto;
    font-size: 20px;
}


.curses__vector, .curses__vector--two {
    overflow: hidden;
    position: absolute;  
}

.curses__vector {
    width: 800px;
    height: 600px;
    right: 0;
    top: 120px;
}

.curses__vector--img {
    width: 700px;
    transform: rotate(130deg);
    position: relative;
    top: 30px;
    right: -320px;
}

.curses__vector--two {
    width: 600px;
    height: 500px;
    top: 375px;
}

.curses__vector--imgt {
    width: 600px;
    transform: rotate(140deg);
    position: relative;
    left: -150px;
    top: 25px;
}


/* MATERIAL */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__title {
    color: rgb(0, 68, 133);
    font-size: 30px;
}

.content__text {
    width: 500px;
    text-align: center;
    font-size: 18px;
}

.material__content {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 30px;
    justify-content: center;
}

.material__name {
    color: rgb(0, 68, 133);
}

.material__art {
    background-color: #F8EEC9;
    display: flex;
    border-radius: 20px;
}

.material__download {
    width: 100px;
    height: 50px;
    font-size: 18px;
    color: rgb(210, 210, 210);
    background-color: rgb(0, 68, 133);
    margin-top: 10px;
    border-radius: 10px;
}

.material__level {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(0, 68, 133);
    color: rgb(210, 210, 210);
}

.material__art--level {
    margin: 60px 20px;
    text-align: center;
}

.material__img {
    margin: 70px 20px;
}




/* MEDIA QUERYS */


@media (max-width: 2500px) {
    .info__img {
        left: .5em;
    }

    .learn__img--second {
        width: 36vw;
        top: -80px;
    }
}

@media (max-width: 2000px) {

    /* NAVBAR */
    .home__li a {
        font-size: 1.7vw;
    }
    
    
    /* footer */
    
    .footer {
        height: 8vh;
    }
    
    
    .footer__korean, .footer__mail {
        font-size: 1.2vw;
    }
    
    .footer__img {
        width: 2vw;
    }
    
    /* Index */
    .learn__img--second {
        width: 37vw;
        top: -40px;
    }

    .info__img {
        left: -100px;
    }

    .info__content {
        top: 20vh;
    }

    .info__img {
        width: 50vw;
        left: 10px;
    }
    /* US */

    
}

@media (max-width: 1500px) {

    .home__li a {
        font-size: 2.4vh;
    }

    /* INDEX */

    .learn__img--second {
        width: 42vw;
        top: -50px;
    }

    .button {
        width: 25vw;
    }


    .info__form {
        grid-gap: 4vh;
    }

    .info__input {
        height: 7vh;
    }

    .info__content {
        top: 20vh;
    }

    .info__img {
        width: 42vw;
        left: 45px;
    }

    /* US */
    .know__img {
        width: 60vh;
        position: relative;
        z-index: 10;
    }

    .know__text, .know__li, .team__us--text {
        font-size: 1.5vmax;
    }
}


@media (max-width: 1030px) {
    .home__nav {
        display: none;
    }

    .home__img {
        width: 7vw;
        margin-left: 5vw;
    }

    .footer__korean, .footer__mail {
        font-size: 2vw;
    }
    
    .footer__img {
        width: 3vw;
    }

    /* INDEX */

    .learn__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 700px 500px;
        margin: 80px;
        height: 80em;
        justify-content: center;
        align-items: center;
    }

    .learn {
        margin: 60px 0;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: start;
        position: relative;
        top: 50px;
    }

    .learn__img--second {
        width: 70vw;
        top: 30px;
        left: 4vw;
    }

    .learn__title {
        font-size: 5vw;
    }

    .learn__text {
        font-size: 3vw;
        top: 50px;
        left: 60px;
    }

    .info {
        width: 70vw;
        margin: 10px 0;
        height: 700px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
    }

    .info__form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    
    .info__title {
        font-size: 3vw;
    }
    
    .info__input {
        width: 28vw;
        height: 70px;
        font-size: 2vw;
    }
    
    .info__content {
        display: none;
    }
    
    .info__mail {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 59vw;
    }

    .info__cell {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 59vw;
    }


    .button {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
        width: 40vw;
    }

    /* US */

    .know__us {
        display: none;
    }

    .know__us--mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, .5fr);
        justify-content: center;
        margin-bottom: 10vh;
    }

    .know__img--mobile {
        width: 40vw;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }


    .know__text--mobile {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        font-size: 2.3vw;
        text-align: center;
    }

    .know__title--mobile, .what__title--mobile, .who__title--mobile {
        align-self: center;
        font-size: 3.5vw;
    }


    .what__img--mobile {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    
    .know__first--mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, .1fr);
        margin-bottom: 10vh;
    }
    
    .who__text--mobile {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .know__li--mobile {
        text-align: center;
        list-style-position: inside;
        font-size: 2.3vw;
    }

    .know__ul--mobile {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}


@media (max-width: 800px) {
    
    .home__nav {
        display: none;
    }

    .footer__korean, .footer__mail {
        font-size: 2vw;
    }
    
    .footer__img {
        width: 3vw;
    }

    .learn {
        margin: 20px auto;
    }

    .learn__title {
        font-size: 40px;
    }

    .learn__text {
        top: 80px;
        margin-left: 70px;
        font-size: 25px;
    }

    .learn__img--second {
        width: 80vw;
        left: -25px;
    }

    .info__input {
        height: 50px;
    }

    .info__mail, .info__cell {
        width: 63vw;
    }


    /* US */


    .team__us--text {
        font-size: 2.4vw;
    }

    .team__img {
        width: 14vw;
    }

    .know__text--mobile {
        font-size: 2.8vw;
    }

    .know__li--mobile {
        text-align: center;
        list-style-position: inside;
        font-size: 2.8vw;
    }

}


@media (max-width: 645px) {
    .learn__main {
        margin: 20px;
        align-items: flex-start;
    }
    
    .learn {
        margin: 25px 80px;
    }

    .learn__title {
        font-size: 35px;
    }
    
    .learn__img--second {
        width: 70vw;
        top: 60px;
        left: -40px;
    }
    
    .learn__text {
        margin-left: 40px;
    }

    .info {
        top: -10em;
    }

    .info__mail, .info__cell {
        width: 64vw;
    }

    .info__input {
        font-size: 1em;
        height: 50px;
    }
}
@media (max-width: 610px) {

    .footer__korean, .footer__mail {
        font-size: 2.5vw;
    }
    
    .footer__img {
        width: 3.5vw;
    }

    .learn {
        top: 100px;
    }
    
    .learn__text {
        margin-left: 40px;
        font-size: 20px;
    }

    .learn__title {
        width: 300px;
        grid-column-start: 1;
    }

    .info {
        height: 500px;
        top: -100px;
    }

    .info__mail, .info__cell {
        width: 64vw;
    }

    .info__input {
        font-size: 1em;
        height: 50px;
    }


    /* US */
    .know__title--mobile, .what__title--mobile, .who__title--mobile {
        align-self: center;
        font-size: 2.3vh;
    }

    .team {
        margin-bottom: 5vh;
    }

    .team__title {
        font-size: 3vh;
    }
    
    .team__img {
        width: 10vh;
    }
    
    
    .team__us--title {
        font-size: 2.4vh;

    }
    
    .team__us--text {
        font-size: 2vh;
    }

    .what__title--mobile, .who__title--mobile, .know__title--mobile {
        font-size: 3vw;
    }

    .know__img--mobile, .what__img--mobile {
        width: 50vw;
    }

    .know__us--mobile {
        margin-bottom: 5vh;
    }
}

@media (max-width: 550px) {
    .info {
        margin: 0 80px 0px 80px;
        height: 400px;
    }
    .info__input {
        height: 40px;
    }
    
    .info__cell, .info__mail {
        width: 64vw;
    }
    
    .learn__main {
        height: 100%;
        grid-template-rows: 600px;
    }

    .learn__text {
        font-size: 20px;
    }

    .learn__title {
        grid-column-start: 1;
        font-size: 30px;
        width: 10em;
    }
}

@media (max-width: 485px) {
    
    .home__img {
        width: 8vw;
    }

    .footer__korean, .footer__mail {
        font-size: 3.2vw;
    }
    
    .footer__img {
        width: 4vw;
    }

    /* INDEX */

    .learn__text {
        top: 80px;
        margin-left: 0;
    }

    .info__input {
        height: 30px;
        width: 25vw;
    }

    .info__cell, .info__mail {
        width: 60vw;
    }

    .button {
        width: 45vw;
    }

    /* US */
    .know__title, .curses__title, .material__title {
        color: #D1D1D1;
        margin: 4vh 0 5vh 0;
        font-size: 4vh;
    }
    

    .know__v--mobile, .what__img--mobile, .how__img--mobile {
        width: 50vw;
    }
}


@media (max-width: 395px) {
    .home__img {
        width: 10vw;
    }
    

    .footer__korean, .footer__mail {
        font-size: 3.2vw;
    }
    
    .footer__img {
        width: 4.5vw;
    }

    /* INDEX */

    .learn {
        position: relative;
        top: 50px;
        left: -20px;
        justify-self: center;
    }

    .learn__main {
        grid-template-rows: 340px;
    }

    .learn__text {
        top: 70px;
        font-size: 15px;
    }

    .learn__title {
        font-size: 1.4em;
    }

    .info {
        top: 0;
        height: 350px;
    }

    .info__form {
        grid-gap: 25px;
    }

    .info__title {
        font-size: 4vw;
    }

    .info__input {
        height: 30px;
        width: 25vw;
        font-size: 3VW;
    }

    .info__cell, .info__mail {
        width: 60vw;
    }

    .button {
        width: 45vw;
    }
}

@media (max-width: 310px) {

    .home__img {
        width: 15vw;
    }


    .footer__korean, .footer__mail {
        font-size: 5vw;
    }
    
    .footer__img {
        width: 5vw;
    }


    .learn__main {
        grid-template-rows: 300px 400px;
        height: 1em;
    }

    .learn__text {
        top: 70px;
        font-size: 14px;
        width: 100px;
    }

    .learn__title {
        font-size: 1.2em;
        left: -20px;
    }

    .info {
        align-self: flex-end;
    }

}

@media (max-width: 280px) {
    .learn {
        position: relative;
        top: 40px;
    }

    .learn__text {
        font-size: 10px;
    }


    .info {
        top: -10px;
    }
}

@media (max-width: 270px) {
}




